.MainScreen {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-color: black;
	display: flex;
	flex-direction: column;
}

.MainScreen-header {
	height: 2vw;
	width: 100%;
	padding: 1vw 0vw 1vw 0vw;
	background-color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
}

.MainScreen-header-text {
	font-size: 1.5vw;
	text-decoration: none;
	color: #b3b4b4;
}

.MainScreen-header-input {
	background-color: #b3b4b4;
	width: 20vw;
	height: 1vw;
	padding: 0.8vw;
	border: 3px solid black;
	border-radius: 15px;
	box-sizing: border-box;
	caret-color: black;
}

.MainScreen-header-input:focus {
	outline: none;
}

.MainScreen-header-image {
	width: 2vw;
}

.MainScreen-body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 2vw;
}

.MainScreen-body-image {
	margin-top: 1vw;
	margin-left: 10vw;
	width: 35vw;
}

.MainScreen-body-quotation {
	display: flex;
	flex-direction: column;
	margin: 10vw;
}

.MainScreen-body-quotation-text-1,
.MainScreen-body-quotation-text-2 {
	color: #b3b4b4;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2.5vw;
	font-style: italic;
	font-weight: 150;
	line-height: normal;
}

.MainScreen-body-quotation-text-1 {
	text-align: center;
}

.MainScreen-body-quotation-text-2 {
	text-align: right;
}
